.main_box {
    position: relative;
    margin: 50px auto 0;
    background: linear-gradient(45deg, #fff, #D8D8D8, #fff);
    width: 640px;
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;


}



body {
    margin: 0;
    padding: 0;
    background: #444444;
}


h1 {
    text-align: center;
    font-size: 30px;
    font-family: MS Sans Serif, Helvetica, Arial;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #6183B5;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    font-family: MS Sans Serif, Helvetica, Arial;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;


}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#buttons {
    margin-top: 40px;
}
